<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form th:action="@{/computer/create}" method="post" th:object="${computer}">
    <input th:type="number" th:field="*{id}">
    <br>
    <input th:type="text" th:field="*{name}">
    <br>
    <input th:type="text" th:field="*{details}">
    <br>
    <input th:type="number" th:field="*{price}">
    <br>
    <input th:type="text" th:field="*{CPU}">
    <br>
    <input th:type="text" th:field="*{GUP}">
    <br>
    <input th:type="text" th:field="*{ram}">
    <br>
    <button type="submit"> add</button>
</form>
</body>
</html>