<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List Computer</h1>
<form action="/computers/search">
    <input type="text" name="name">
    <button type="submit">Search</button>
</form>
<button><a th:href="@{/computers/add-computer}">add</a></button>
<table border="1px">
    <tr>
        <td>id</td>
        <td>name</td>
        <td>price</td>
        <td>Action</td>
    </tr>
    <tr th:each="item : ${computers}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td>
            <button><a th:href="@{'/computers/edit/' + ${item.id}}">edit</a></button>
            <!--            <button><a th:href="@{'computers/delete/' + ${item.id}}">Delete</a></button>-->
            <form th:action="@{'computers/delete/' + ${item.id}}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>